<!-- Loop over each object in the players array -->

<div class="row justify-content-around g-2 text-center" style="margin-top: 200px;">

  {{#each games as |game| }}
  {{> gameCard }}
  {{/each}}


</div>

<script src="/js/homePage.js"></script>