<!-- Loop over each object in the players array -->

<div class="row mb-4 player">
  <div class="col-md-5">
    <h1>
      Movie Trivia
    </h1>
    {{#each games as |game| }}
    {{> gameCard }}
    {{/each}}
  </div>
  <div class="col-md-7">
    <p>Quote</p>
  </div>
</div>

<script src="/js/homePage.js"></script>