<div class="row">
  <div class="col-md-6">
    <h2>SCORE: {{score}}</h2>
    <p>Congrats {{username}}</p>
    <p>High Score: {{high_score}}</p>
    <button class="play-again">Play Again</button>
    <button class="home-page">Home Page</button>
    <div class="game-title" data-gameTitle="{{game_title}}"></div>
  </div>
</div>
<script src="/js/loss.js"></script>