<div class="row">
  <div class="col-md-6">
    <h2>SCORE: {{score}}</h2>
    <p>Congrats {{username}}</p>
    <p>High Score: {{high_score}}</p>
    <button class="play-again">Play Again</button>
    <button class="home-page">Home Page</button>
    <div class="game-id" data-gameId="{{game_id}}"></div>
  </div>
</div>
<script src="/js/loss.js"></script>